<div class="col-xs-12 col-md-offset-2 col-md-8">
    <h4>Welcome to CraftTogether.</h4>
	<p>
	This is going to be a project to bring together the development community back together and introduce new developer to the standards of older developers. Your goal? To write a free standing network from scratch. This is a project run by <a href="https://twitter.com/minecoder" target="_blank">@minecoder</a> and will consist of a main team of operations members, and you, the developers.
	<br><br>
	There is no set direction, that is to be decided by the developer community and what they want. You can decide to make minigames or even have a survivial based server, if you build it. I'm looking to make this one of the real community driven servers.
	<br><br>
	Rules:
	</p>
	<ul align="left">
		<li>Do not post any code/conent you do not have the licence for.</li>
		<li>Do not hardcode any user specific actions/permissions into the code, these will be decided by the operations team.</li>
		<li>Do not attack/target anyone through the use of code/comments/actions.</li>
	</ul>
    <p>
	If you are willing to come along for the ride, click the button below!
	<br>
	- theminecoder <a href="https://twitter.com/minecoder" target="_blank">@minecoder</a> 
	<br><br>
    {{#if added}}
        <span style="color: grey">You are one of us!</span>
    {{else if user}}
        <button id="joinbtn" type="button" class="btn btn-primary btn-lg">Join Us</button>
    {{else}}
        <a href="/login"><button type="button" class="btn btn-primary btn-lg">Sign in to Github</button></a>
    {{/if}}
	</p>
</div>